.header {
  background-color: var(--color-charcoal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family-big);
  gap: 16px;
}

.header-left {
  display: flex;
  padding-left: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-left-text {
  background-color: var(--color-blue);
  padding: 12px 4px;
  color: white;
}

.header-right {
  padding-top: 28px;
  padding-bottom: 28px;
  color: var(--color-cream);
  padding-right: 80px;
}


@media screen and (max-width:500px) {
  .header{
    font-size: 14px;
  }

  .header-left {
    padding-left: 36px;
    flex: none;
  }

  .header-right{
    padding-right: 0;
    font-size: 12px;
  }

  .header-right-text{
    padding-right: 48px;
  }
}

@media screen and (max-width:400px) {
  .header-left{
    padding-left: 16px;
  }
  .header-right-text{
    padding-right: 16px;
  }
}