@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Urbanist:wght@500&display=swap");

:root {
  --font-family-big: "Rubik Mono One", sans-serif;
  --font-family-small: "Urbanist", sans-serif;
  --color-bg: #fbf7f2;
  --color-charcoal: #1d1b16;
  --color-blue: #00a5c0;
  --color-golden: #cc9225;
  --color-brown: #a6876d;
  --color-cream: #fbf7f2;
  --color-soft-grey: #f5f5f5;
}
